<h2>Search Books</h2>
<form action="/books" method="GET">
  <div>
    <label for="searchBookTitle">Title</label>
    <input
      type="text"
      name="title"
      id="searchBookTitle"
      value="<%= searchOptions.title %>"
    />
  </div>
  <div>
    <label for="publishedAfter">Published After</label>
    <input
      type="date"
      name="publishedAfter"
      id="publishedAfter"
      value="<%= searchOptions.publishedAfter %>"
    />
  </div>
  <div>
    <label for="publishedBefore">Published Before</label>
    <input
      type="date"
      name="publishedBefore"
      id="publishedBefore"
      value="<%= searchOptions.publishedBefore %>"
    />
  </div>
  <button type="submit">Search</button>
</form>

<div>
  <% books.forEach(book => { %>
    <img src="<%= book.coverImagePath %> " alt="" width="100" height="150">
  <% }) %>
</div>
